*{
	box-sizing: border-box;
	text-align: center;	
}

body{
	margin: auto;
	border: solid 2px red;
	height: 638px;
}

nav{
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	height: 70px;
}
	.name{
		float: left;
		margin-left: 5%;
		background-color: #4aaaa5;
		padding: 20px;
		color: white;
		font-size: 25px;
		height: 100%;
	}

	a:link{
	text-decoration: none;
	color: #777777;
	}

	.right{
	float: right;
	width: 8%;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 30px;
	}

		.contact{
		margin-right: 50px;
		}

		.portfolio{
		border-right: solid 1px #cccccc;
		}

		.about{
		border-right: solid 1px #cccccc;
		}
main{
	clear: both;
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-image: url("tile.jpg");
	background-repeat: repeat;
	height: 78%;
	border: solid 1px #cccccc;
}

	.contentbox{
		float: left;
		margin-left: 5%;
		margin-top: 2.5%;
		background-color: white;
		border: solid 1px #cccccc;
		width: 55%;
		min-width: 300px;
		height: 90%;	
	}
		
	.social{
		float: left;
		margin-top: 2.5%;
		margin-left: 5%;
		background-color: white;
		height: 30%;
		width: 20%;
		border: solid 1px #cccccc;
	}


footer{
	clear: both;
	width: 85%;
	height: 70px;
	background-color: #666666;
	color: #cccccc;
	border-top: solid 6px #4aaaa5;
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding: 20px;
}