*{
	box-sizing: border-box;
	text-align: center;
	
}

body{
	width: 960px;
}

nav{
	border: solid 1px #cccccc;
	background-color: #ffffff;
	height: 70px;
}

a:link{
	text-decoration: none;
	color: #777777;
	
}
	

.name{
	background-color: #4aaaa5;
	padding: 20px;
	color: white;
	font-size: 25px;
	float: left;
	margin-left: 60px;
}

.right{
	float: right;
	width: 8%;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.contact{
	margin-right: 50px;
}

.portfolio{
	border-right: solid 1px #cccccc;
}

.about{
	border-right: solid 1px #cccccc;
	
}



	



